/* VARIABLES */

:root
{
  --color1: #034981;
  --color2: #ffbf00;
  --color3: #ff7700;
  --color4: #fff200;
  --color5: #154c89;
  --color6: #0b2b4e;
  --gradient1: linear-gradient(to right, #2798f1 0%,#2798f1 20%,#034981 100%);
  --gradient2: linear-gradient(to left bottom, #00eff9, #00c3e6, #0097cb, #006ca9, #004380);
}

/* START HOME.HTML */

.bg-dark
{
  background-color: var(--color3) !important;
}

.text-light
{
  font-weight: bold;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
}

.text-info
{
  color: var(--color1) !important;
}

.btn-info
{
  background: var(--color1) !important;
  border: none;
  margin-left: 10px;
}
@media (max-width: 576px)
{
  .btn-info
  {
    margin-top: 10px;
  }
}

#overlay
{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  margin-left: 0;
}

.modal-title
{
  margin: auto;
  font-family: 'Dancing Script', cursive;
}

.add-button
{
  margin: auto;
}

/* END HOME.HTML */